body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  /* border: 3px solid blue; */
  min-height: 100vh;
}

.french-bg {
  /* background: linear-gradient(#0f2027, #203a43, #2c5364); */
  background-image: linear-gradient(rgb(0, 33, 95), rgb(180, 23, 21));
}

.spanish-bg {
  background-image: linear-gradient(
    rgb(158, 3, 0),
    rgb(204, 111, 4),
    rgb(158, 3, 0)
  );
}

.german-bg {
  background-image: linear-gradient(#0f2027, #203a43, #2c5364);
}

.toggle-button-div {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.scorebar-container {
  width: 80%;
  margin: auto;
}

.progressBar-div {
  width: 80%;
  margin: auto;
}

.language-selector-div {
  width: 80%;
  margin: auto;
}

.content-container {
  max-width: 700px;
  margin: auto;
}
